<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/medap/RestProject/FirstRetAsuredProject">
        <classes>
            <class name="org.example.APITesting_Lab04">
                <methods>
                    <include name="test_GET_POSITIVE_TC1"/>
                    <include name="test_GET_NEGATIVE_TC2"/>
                    <include name="test_GET_NEGATIVE_TC3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
